<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{#}">E-FOODS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" th:href="@{#}">GLOCERIES<span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li><a th:href="@{#}">page 1-1</a></li>
                <li><a th:href="@{#}">page 1-2</a></li>
                <li><a th:href="@{#}"></a></li>
            </ul>
            </li>
            <li><a th:href="@{#}">CEREALS</a></li>
            <li><a th:href="@{#}">MEAT</a> </li>
            <li><a th:href="@{#}">EGGS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{#}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a th:href="@{#}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            <li><a th:href="@{#}"><span><i class="fa fa-shopping-cart"></i></span></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="product">

            </div>

        </div>
        <div class="col-md-2">
            <div class="product ">
                <a th:href="@{#}">
                    <img th:src="@{/images/cereals/rice.jpg}" class="img-responsive">
                    <div class="price">
                        <label><i>PRICE 5000/sack</i></label>

                    </div>
                    <div class="description">
                        <label>DESCRIPTION</label>
                        <p>pishori rice</p>

                    </div>
                </a>

            </div>

        </div>
        <div class="col-md-2">
            <div class="product">

            </div>

        </div>
        <div class="col-md-2">
            <div class="product">

            </div>

        </div>
        <div class="col-md-2">
            <div class="product">

            </div>

        </div>
        <div class="col-md-2">
            <div class="product">

            </div>

        </div>

    </div>

</div>
</body>
</html>